
.menu-box{
	padding: 70px 0px;
}

.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
}

.filter-button-group {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 10px 15px;
    display: inline-block;
}

.filter-button-group button {
    color: #fc3c3c;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    padding: 12px 40px;
    border:1px solid #fc3c3c;
    border-radius: 5px;
}

.filter-button-group button.active {
    background: #fff;
    color: #fc3c3c;
    box-shadow: 2px 20px 45px 5px rgba(0,0,0,.2);
    border:1px solid #fc3c3c;
}

.gallery-single{
	margin: 30px 0px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: black;
	opacity: 60%;
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h4{
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	font-family: 'Arbutus Slab', serif;
}
.why-text p{
	color: #ffffff;
	font-size: 18px;
	border-bottom: 1px dashed #010101;
	margin: 0px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.why-text h5{
	font-size: 28px;
	font-weight: 600;
	color: #ffffff;
}

.gallery-single:hover .why-text{
	bottom: 0px;
}

/*-------------------------Gallery---------------------------------*/

.gallery-box{
    padding: 70px 0px;
}
.tz-gallery{
    margin-top: 30px;
}
.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}