    /*
    Flaticon icon font: Flaticon
    Creation date: 24/09/2020 07:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bed:before { content: "\f100"; }
.flaticon-laptop:before { content: "\f101"; }
.flaticon-customer-service:before { content: "\f102"; }
.flaticon-jeep:before { content: "\f103"; }
.flaticon-credit-card:before { content: "\f104"; }
.flaticon-serving-dish:before { content: "\f105"; }
.flaticon-beauty-treatment:before { content: "\f106"; }
.flaticon-phone-call:before { content: "\f107"; }
.flaticon-location:before { content: "\f108"; }
.flaticon-envelope:before { content: "\f109"; }
.flaticon-smart-tv:before { content: "\f10a"; }
.flaticon-wifi-signal:before { content: "\f10b"; }
.flaticon-air-conditioner:before { content: "\f10c"; }
.flaticon-parking:before { content: "\f10d"; }
.flaticon-pool:before { content: "\f10e"; }
.flaticon-calendar:before { content: "\f10f"; }
.flaticon-user:before { content: "\f110"; }
.flaticon-comments:before { content: "\f111"; }
    
    $font-Flaticon-bed: "\f100";
    $font-Flaticon-laptop: "\f101";
    $font-Flaticon-customer-service: "\f102";
    $font-Flaticon-jeep: "\f103";
    $font-Flaticon-credit-card: "\f104";
    $font-Flaticon-serving-dish: "\f105";
    $font-Flaticon-beauty-treatment: "\f106";
    $font-Flaticon-phone-call: "\f107";
    $font-Flaticon-location: "\f108";
    $font-Flaticon-envelope: "\f109";
    $font-Flaticon-smart-tv: "\f10a";
    $font-Flaticon-wifi-signal: "\f10b";
    $font-Flaticon-air-conditioner: "\f10c";
    $font-Flaticon-parking: "\f10d";
    $font-Flaticon-pool: "\f10e";
    $font-Flaticon-calendar: "\f10f";
    $font-Flaticon-user: "\f110";
    $font-Flaticon-comments: "\f111";